.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.user{
  border: 0px solid black;
  border-radius: 50px;
  background-color: rgba(216, 135, 148, 0.849);
  box-shadow: 10px 10px 10px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 20px;
}

.paginationBtn{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtn a{
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: navy;
  cursor: pointer;
}

.paginationBtn a:hover{
  color: white;
  background-color: blue;
}

.paginationActive a{
  color: white;
    background-color: blue;
}